<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvard</title>
    <link rel="stylesheet" href="sass/slick.css">
    <link rel="stylesheet" href="sass/slick-theme.css">
    <link rel="stylesheet" href="sass/owl.carousel.min.css">
    <link rel="stylesheet" href="sass/owl.theme.default.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="sass/style.css">

</head>
<body>
    <section class="about" id="about">
        <div class="container">
            <div class="row navbar">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="hamb" onclick="add()">
                        <img src="images/main/menu.svg" alt="" id="hamb">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 d-flex justify-content-center">
                    <a href="/" class="logo">      
                        <img src="images/main/logo.png" alt="">
                   </a>
                </div>
                <div class="col-lg-4 col-md-4 d-flex justify-content-end">
                    <div class="links">
                        <a href="registr2" class="enter">Kirish</a>
                        <a href="registr" class="register">Ro'yxatdan o'tish</a>
                    </div>
                </div>
            </div>

             <div class="row">
                 <div class="col-lg-6 cont">
                     <h2>O'qish vaqti keldi bunda  senga biz yordam  beramiz</h2>

                     <a href="aloqa" class="aloqa">Aloqaga chiqish</a>
                 </div>
             </div>
            <div class="menu" id="menu">
                <div class="logon">
                    <img src="images/main/logo.png" alt="">
                </div>
                <div class="close" onclick="remove()">
                    <img src="images/main/close.svg" alt="" id="close">
                </div>
                
                <div class="links additional">
                
                    <a href="registr" class="register">Ro'yxatdan o'tish</a>
                    <a href="registr2" class="enter">Kirish</a>
                </div>
                <ul class="nav-list">
                    <li><a href="/">Bosh sahifa</a></li>
                    <li><a href="news">Yangiliklar</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="kurslar">Kurslar</a></li>
                    <li><a href="#" class="actives">Biz haqimizda</a></li>
                    <li><a href="subjects">Test topshirish</a></li>
                    <li><a href="aloqa">Aloqa</a></li>
                  </ul>
            </div>
        </div>

        <div class="banner">
            <img src="images/aloqa/students.png" alt="Students">

        </div>
        <div class="banner2">
            <img src="images/aloqa/about2.png" alt="About2">
        </div>
    </section>

    <section class="haqimizda">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h2>Biz haqimizda</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero fuga eveniet expedita tenetur consectetur voluptatibus molestiae tempore, ducimus corrupti sed optio porro eius, nam harum explicabo. Laboriosam vel dicta quo aut, laudantium sunt. Corrupti culpa praesentium magnam nam quis provident, possimus tempore sapiente ducimus natus similique maiores eum quam cumque.</p>

                    <h3>Diqqat batafsil malumotni quyidagi video orqali olishingiz mumkin</h3>
                    <div class="sign">
                        <img src="images/aloqa/Vector 13.png" alt="Sign">

                    </div>
                </div>

                <div class="col-lg-6 col-md-6 hand" >
                    <div class="vid" data-aos="fade-up">
                        <video  controls loop>
                            <source src="video/two.mp4" type="video/mp4">
                         </video>
                    </div>
                    <div class="hands">
                        <img src="images/aloqa/hand.png" alt="Hand">
                    </div>
                </div>
            </div>
        </div>
    </section>
       
    <section class="numbers">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 centers" data-aos="fade-up">
                    <div class="number">
                        <h1>876</h1>
                        <p>O'quvchilar soni</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center centers" data-aos="fade-up">
                    <div class="number">
                        <h1>56</h1>
                        <p>O'qituvchilar soni</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12  centers" data-aos="fade-up">
                    <div class="number">
                        <h1>5 yil</h1>
                        <p>O'qituvchilarning o'rtacha ish tajribasi</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="teachers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>O'qituvchilarimiz bilan tanishing</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel">
                        <div class="teacher">
                            <div class="img">
                                <img src="images/aloqa/teach.png" alt="Teacher">
                            </div>
                            <div class="info">
                                <h3>Xudoyberdi Sotvoldiyev</h3>
                                <p>Professional web dasturchi "Merasoft" asoschilaridan biri, ma'lumotlar bazasi va web bo'yicha 12 yillik tajribaga,dizayn sohasi bo'yicha esa 14 yillik tajribaga ega.</p>
                            </div>
                        </div>
                        <div class="teacher">
                            <div class="img">
                                <img src="images/aloqa/teach.png" alt="Teacher">
                            </div>
                            <div class="info">
                                <h3>Xudoyberdi Sotvoldiyev</h3>
                                <p>Professional web dasturchi "Merasoft" asoschilaridan biri, ma'lumotlar bazasi va web bo'yicha 12 yillik tajribaga,dizayn sohasi bo'yicha esa 14 yillik tajribaga ega.</p>
                            </div>
                        </div>
                        <div class="teacher">
                            <div class="img">
                                <img src="images/aloqa/teach.png" alt="Teacher">
                            </div>
                            <div class="info">
                                <h3>Xudoyberdi Sotvoldiyev</h3>
                                <p>Professional web dasturchi "Merasoft" asoschilaridan biri, ma'lumotlar bazasi va web bo'yicha 12 yillik tajribaga,dizayn sohasi bo'yicha esa 14 yillik tajribaga ega.</p>
                            </div>
                        </div>
                        <div class="teacher">
                            <div class="img">
                                <img src="images/aloqa/teach.png" alt="Teacher">
                            </div>
                            <div class="info">
                                <h3>Xudoyberdi Sotvoldiyev</h3>
                                <p>Professional web dasturchi "Merasoft" asoschilaridan biri, ma'lumotlar bazasi va web bo'yicha 12 yillik tajribaga,dizayn sohasi bo'yicha esa 14 yillik tajribaga ega.</p>
                            </div>
                        </div>
                        <div class="teacher">
                            <div class="img">
                                <img src="images/aloqa/teach.png" alt="Teacher">
                            </div>
                            <div class="info">
                                <h3>Xudoyberdi Sotvoldiyev</h3>
                                <p>Professional web dasturchi "Merasoft" asoschilaridan biri, ma'lumotlar bazasi va web bo'yicha 12 yillik tajribaga,dizayn sohasi bo'yicha esa 14 yillik tajribaga ega.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="girl">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="girls">
                        <img src="images/aloqa/girl.png" alt="Girl">

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="chegirma">
                        <h3>Hozirni o'zida ro'yxatdan o't va barcha o'quv kurslarimizga <span>30% chegirmaga</span> ega bo'l</h3>
                         
                        <a href="registr" class="registr">Ro'yxatdan o'tish</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="container">
            <div class="row firsts">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="links">
                        <div class="link">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                        <div class="link">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>
                        <div class="link">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>
                        <div class="link">
                            <img src="images/main/telegram.png" alt="telegram">
                        </div>
                        <div class="link">
                           <img src="images/main/tik-tok.png" alt="tik-tok">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center">
                    <div class="logo">
                        <img src="images/main/logo.png" alt="Logo">
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 d-flex justify-content-end listss">
                    <ul class="list p-0">
                        <li><a href="news">Yangiliklar</a></li>
                        <li><a href="blog">Blog</a></li>
                        <li><a href="aloqa">Aloqa</a></li>
                    </ul>
                </div>
            </div>

            <div class="row seconds d-flex align-items-start start">
               <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-end end">
                   <div class="contact">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <a href="#">Harvard@gmail.com</a>
                   </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-center end">
                <div class="contact">
                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                    <p class="p-0 m-0">+998941756227</p>
                    <p class="p-0 m-0">+998941756227</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-start end">
                <div class="contact">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                   <p>Mirzo Ulug'bek ko'chasi 70-uy</p>
                </div>
            </div>
            </div>
        </div>
    </section>

	<script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/css/aos.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>