<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvard</title>
    <link rel="stylesheet" href="sass/slick.css">
    <link rel="stylesheet" href="sass/slick-theme.css">
    <link rel="stylesheet" href="sass/owl.carousel.min.css">
    <link rel="stylesheet" href="sass/owl.theme.default.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="sass/style.css">
    

</head>
<body>
  
    <section class="lessons" id="lesson">
        <div class="container">
            <div class="row navbar">
                <div class="col-lg-4 col-md-4">
                    <div class="hamb" onclick="add()">
                        <img src="images/main/menu.svg" alt="" id="hamb">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                    <a href="/" class="logo">      
                        <img src="images/main/logo.png" alt="">
                   </a>
                </div>
                <div class="col-lg-4 col-md-4 d-flex justify-content-end">
                    <div class="links">
                        <a href="registr2" class="enter">Kirish</a>
                        <a href="registr" class="register">Ro'yxatdan o'tish</a>
                    </div>
                </div>
            </div>
            <div class="menu" id="menu">
                <div class="logon">
                    <img src="images/main/logo.png" alt="">
                </div>
                <div class="close" onclick="remove()">
                    <img src="images/main/close.svg" alt="" id="close">
                </div>
                <div class="links additional">
                
                    <a href="registr" class="register">Ro'yxatdan o'tish</a>
                    <a href="registr2" class="enter">Kirish</a>
                </div>
                <ul class="nav-list">
                    <li><a href="/">Bosh sahifa</a></li>
                    <li><a href="news">Yangiliklar</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="kurslar">Kurslar</a></li>
                    <li><a href="about">Biz haqimizda</a></li>
                    <li><a href="subjects">Test topshirish</a></li>
                    <li><a href="aloqa">Aloqa</a></li>
                  </ul>
            </div>
         </div>

      
         <section class="les">
           <div class="container">
               <div class="row">
                   <div class="col-lg-12">
                       <a href="kurslar" class="back">
                           <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                           Ortga
                       </a>
                   </div>
               </div>

               <div class="row justify-content-center small">
                    <div class="col-lg-10">
                       <div class="vid">
                        <video loop height="400px" width="100%" preload="none"  style="object-fit:cover; width:100%; height: 400px;" poster="../images/aloqa/bird.png">
                            <source src="video/two.mp4" type="video/mp4">
                         </video>
                       </div>
                    </div>

                    <div class="col-lg-10">
                        <h2>Biznesni kengaytirishdagi muommolar va xatolar | <br> Sherzod Beknazarov</h2>
                        <hr>

                        <div class="info">
                            <h3>Kurs haqida Ma'lumot:</h3>
                            <p>Sherzod Beknazarov = Biznesni kengaytirishdagi muommolar va xatolar | Intensive 07. Bu kurs davomida sizlar HTMLda veb sayt yaratish uchun kerak bo'ladigan barcha kerakli bilimlarga ega bo'lasizlar.</p>

                        </div>
                        <hr>

                        <div class="infos">
                            <div class="author">
                                <h5>Muallif: <span>Sherzod Beknazarov</span></h5>
                            </div>
                            <div class="author">
                                <h5>Darslar soni: <span>23ta</span></h5>
                            </div>
                            <div class="author">
                                <h5>Yuklangan: <span>21.03.2021</span></h5>
                            </div>
                        </div>
                        <hr>

                        <div class="buy">
                         
                            <button>Sotib olish</button>
                            <span>100.000 So'm</span>
                        </div>

                    </div>

                    <div class="col-lg-10" data-aos="fade-up">
                        <h3>Kurs tarkibi:</h3>
                        <div class="part">
                            <p>1.Strategik marketing</p>
                        </div>
                        <div class="part">
                            <p>2.Strategik marketing</p>
                        </div>
                        <div class="part">
                            <p>3.Strategik marketing</p>
                        </div>
                        <div class="part">
                            <p>4.Strategik marketing</p>
                        </div>
                        <div class="part">
                            <p>5.Strategik marketing</p>
                        </div>
                        <div class="part">
                            <p>6.Strategik marketing</p>
                        </div>
                        <div class="part">
                            <p>7.Strategik marketing</p>
                        </div>
                        <div class="part">
                            <p>8.Strategik marketing</p>
                        </div>
                        <div class="part">
                            <p>9.Strategik marketing</p>
                        </div>
                        <div class="part">
                            <p>10.Strategik marketing</p>
                        </div>
                    </div>
               </div>
           </div>
         </section>

         <section class="footer">
            <div class="container">
                <div class="row firsts">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="links">
                            <div class="link">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                            <div class="link">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                            <div class="link">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <div class="link">
                                <img src="images/main/telegram.png" alt="telegram">
                            </div>
                            <div class="link">
                               <img src="images/main/tik-tok.png" alt="tik-tok">
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center">
                        <div class="logo">
                            <img src="images/main/logo.png" alt="Logo">
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 d-flex justify-content-end listss">
                        <ul class="list p-0">
                            <li><a href="news">Yangiliklar</a></li>
                            <li><a href="blog">Blog</a></li>
                            <li><a href="aloqa">Aloqa</a></li>
                        </ul>
                    </div>
                </div>
    
                <div class="row seconds d-flex align-items-start start">
                   <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-end end">
                       <div class="contact">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                          <a href="#">Harvard@gmail.com</a>
                       </div>
                   </div>
                   <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-center end">
                    <div class="contact">
                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                        <p class="p-0 m-0">+998941756227</p>
                        <p class="p-0 m-0">+998941756227</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-start end">
                    <div class="contact">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                       <p>Mirzo Ulug'bek ko'chasi 70-uy</p>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </section>

    
	<script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/css/aos.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>