<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvard|Registratsiya2</title>
    <link rel="stylesheet" href="sass/slick.css">
    <link rel="stylesheet" href="sass/slick-theme.css">
    <link rel="stylesheet" href="sass/owl.carousel.min.css">
    <link rel="stylesheet" href="sass/owl.theme.default.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="sass/style.css">
    

</head>
<body>
  
    <section class="registration" id="registration">
         <div class="container">
            <div class="row navbar">
                <div class="col-lg-4 col-md-4">
                    <div class="hamb" onclick="add()">
                        <img src="images/main/menu.svg" alt="" id="hamb">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                    <a href="/" class="logo">      
                        <img src="images/main/logo.png" alt="">
                   </a>
                </div>
                <div class="col-lg-4 col-md-4 d-flex justify-content-end">
                    <div class="links">
                        <a href="#" class="enter">Kirish</a>
                        <a href="#" class="register">Ro'yxatdan o'tish</a>
                    </div>
                </div>
                
            </div>
            <div class="menu" id="menu">
                <div class="logon">
                    <img src="images/main/logo.png" alt="">
                </div>
                <div class="close" onclick="remove()">
                    <img src="images/main/close.svg" alt="" id="close">
                </div>
                <div class="links additional">
                
                    <a href="registr" class="register">Ro'yxatdan o'tish</a>
                    <a href="registr2" class="enter">Kirish</a>
                </div>
                <ul class="nav-list">
                     <li><a href="/">Bosh sahifa</a></li>
                     <li><a href="news">Yangiliklar</a></li>
                     <li><a href="blog">Blog</a></li>
                     <li><a href="kurslar">Kurslar</a></li>
                     <li><a href="about">Biz haqimizda</a></li>
                     <li><a href="subjects">Test topshirish</a></li>
                     <li><a href="aloqa">Aloqa</a></li>
                  </ul>
            </div>
         </div>
        <section class="royhat">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <h1>Harvard Learning Center</h1>

                    </div>
                </div>

                <div class="row form">
                    <div class="col-lg-10">
                        <div class="row justify-content-between">
                            <div class="col-lg-5 col-md-5 justify-content-end inputs">
                                <label for="name">Ismingiz</label>
                                <input type="text" name="name" id="name" required>
                            </div>
                            <div class="col-lg-5 col-md-5 justify-content-start inputs">
                                <label for="password">Parol</label>
                                <input type="password" name="password" id="password" required>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-12 d-flex justify-content-center">
                         <div class="row">
                             <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="one">
                                    <button>Kirish</button>
                                  </div>
                             </div>
                             <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="two">
                                    <img src="images/aloqa/google.png" alt="">
                                   <button>Google bilan ro'yhatdan o'tish</button>
                                 </div>
                             </div>
                         </div>
                    </div>
                    <div class="col-lg-12 d-flex justify-content-center">
                        <p>Siz oldin ro'yhatdan o'tganmisiz unda <a href="#">Ro'yhatdan o'tish </a>tugmasini bosing</p>
                    </div>

                </div>
            </div>
        </section>
         

        <section class="footer">
            <div class="container">
                <div class="row firsts">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="links">
                            <div class="link">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                            <div class="link">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                            <div class="link">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <div class="link">
                                <img src="images/main/telegram.png" alt="telegram">
                            </div>
                            <div class="link">
                               <img src="images/main/tik-tok.png" alt="tik-tok">
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center">
                        <div class="logo">
                            <img src="images/main/logo.png" alt="Logo">
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 d-flex justify-content-end listss">
                        <ul class="list">
                            <li><a href="news">Yangiliklar</a></li>
                            <li><a href="blog">Blog</a></li>
                            <li><a href="aloqa">Aloqa</a></li>
                        </ul>
                    </div>
                </div>
    
                <div class="row seconds d-flex align-items-start start">
                   <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-end end">
                       <div class="contact">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                          <a href="#">Harvard@gmail.com</a>
                       </div>
                   </div>
                   <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-center end">
                    <div class="contact">
                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                        <p class="p-0 m-0">+998941756227</p>
                        <p class="p-0 m-0">+998941756227</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-start end">
                    <div class="contact">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                       <p>Mirzo Ulug'bek ko'chasi 70-uy</p>
                    </div>
                </div>
                </div>
            </div>
        </section>
  
    </section>

    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>